@charset "UTF-8";

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

*{ 
	margin: 0px; padding: 0px;
	box-sizing: border-box;
	font-family: 'GowunDodum-Regular' !important; 
}
a{
	color: black !important; text-decoration: none !important;
	/* background-color: #f1f5f1; */
}
/* header * */
#header{ background-color: #658a69 !important; }
#header .header_logo{ width: 60px; }
#header .header_menu{ 
	font-size: 25px; font-weight: bold; 
	color: white !important;
	border-bottom: none;
}

/* menu_effect */
.header_menubox, .header_menubox:after, .header_menubox:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header_menubox a:hover,.header_menubox a:focus {
  outline: none;
  color: #253f39;
}

.menu a {
	position: relative;
  	display: block;
  	text-decoration: none;
  	text-transform: uppercase;
}

.header_menubox a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: white;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.header_menubox a:hover:after, .header_menubox a:focus:after {
	opacity: 0.8;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


#header .header_name{ 
	font-size: 28px; font-weight: bold;
	color: #253f39 !important;
	margin: 0px -10px;
	background-color: #658a69 !important;
}
#header .login_drop{ 
	height: 30px !important; 
	color: black !important;
}

/* header member profile */
#header .header_profile{
	width: 40px; height: 40px;
	border-radius: 40px;
	margin-right: 5px; 
	object-fit: contain;	
	object-fit: cover;		
}

#header .LogInMenu a{ 
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px; 
	font-size: 16px; 
}

/* 본문 */
#layoutnav{ 
	background-color: #f1f5f1 !important; 
	width: 100% !important;
	margin: 0 auto !important;
	display: block !important;
	height: 790px;
	padding-top: 5px;
}
#layoutnav .content{
	margin: 10px 120px 0px 120px; padding: 30px 50px; height: 740px;
 	background-color: white;
 	border-radius: 25px;
 	box-shadow: #c0c0c0 3px 3px 3px;
}
#layoutnav .content_box{
	width: 100%; text-align: center;
	padding: 20px;
}
#layoutnav .content_table{
	border-bottom: 1px solid #c0c0c0;
	width: 100%;
	display: block;
}

/* 페이징 버튼 활성화시 */
#layoutnav .active-g{ 
	background-color: #658a69; color: white !important; 
	border: 1px solid #c0c0c0 !important;
}
#layoutnav .arrow {
    display: inline-block;
    font-size: 9.5px;
    font-weight: bold;
    vertical-align: middle; /* 정렬 조정 */
    margin-bottom: 3.5px; 
}


