@charset "UTF-8";
body{
	background-color: #f1f5f1 !important;
}

.logo-box{
	height: 81px;
}
.info-title > h3{
	margin-bottom: 0px;
	font-weight: bold;
}

.mprofilebox > .mprofile{
	width : 200px;
	height: 200px;
	border-radius: 50px;
	border: 1px solid #e8e8e8;
	padding: 5px;
	object-fit: cover;
	margin-bottom: 30px;
}
.mprofilebox {
	text-align: center;
}


.bottom-btn{
	background-color: #658a69 !important;
	color: white !important;
	margin: 10px 0px;
}


.point-table{
	padding-left: 80px !important;
	margin-top: 67px !important;
}

.point-table > div{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.table{
	margin-top: 30px !important;
	text-align: center;
}

