@charset "UTF-8";

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

*{ 
	margin: 0px; padding: 0px;
	box-sizing: border-box;
	font-family: 'GowunDodum-Regular' !important; 
}
#wrap{
	background-color: #f1f5f1;
	padding-top: 55px;
	height: 800px;
}

/* logobox */
.logo-box{
	height: 60px;
	background-color: #658a69;
	border-radius: 8px 8px 0px 0px;
	overflow: hidden; /* 넘치는 부분 숨기기 */
	display: flex; align-items: center;
}
.logo-box img{ width: 60px; }
.logo-box .logo-name{  
	font-size: 25px; font-weight: bold; color: #253f39;
	margin: 5px;
}

.login-box .login-title{ 
	font-size: 25px; font-weight: bold; color: white; 
	margin-left: 30px;
}
.login-box .login-btn{ background-color: #658a69 !important; color: white; }
.login-box .login-a{ display: flex; justify-content: center; text-align: center; }
.login-a div{ margin: 0px 10px; font-size: 12px; color: #c0c0c0; }
.login-box a{ display: block; }


