@charset "UTF-8";
/* 전체구역 */
body{
	background-color: #f1f5f1 !important;
}

#wrap{
	
	padding-top: 0px;
	height : auto;
}
.left-txt{
	padding-bottom: 50px;
	font-size: 20px;
}
.left-txt > h2 {
	font-weight: bold;
	color: #658a69;
}


/* 버튼 */
.top-box{
	text-align: center;
	/*margin-top: 130px;*/ 
}
.img-box{
	background-color: #658a69;
	margin: 0 auto;
	border-radius: 10px 10px 0px 0px;
}
.img-box > img{
	width: 200px;
	margin: 10px 0px;
}

.border-radius{
	border-radius: 0px 0px 10px 10px !important;
}


/* 버튼 */
.login-box .login-btn {
    background-color: #658a69 !important;
    color: white;
}


.bottom-box{
	text-align: center;
	padding-top: 25px;
}
.bottom-box > a{
	background-color: #658a69;
	color : #ffffff !important;
}

.l-flex{
	display: flex;
	justify-content: space-between !important;
	width: 100% !important;
	padding-top: 20px;
	align-items: center;
}


.fixed-bottom{
	/*height: 30px;*/
	padding: 0px;
}
