@charset "UTF-8";
#wrap{
	background-color: none !important;
	padding-top: 0px;
	height : auto;
}

.top-box{
	text-align: center;
	margin-top: 130px; 
}
.img-box{
	background-color: #658a69;
	margin: 0 auto;
	border-radius: 10px 10px 0px 0px;
}
.img-box > img{
	width: 200px;
	margin: 15px 0px;
}

.login-title{
	margin: 100px 0px 50px 0px !important;
	font-size: 30px;
	font-weight: bold;
}

.border-radius{
	border-radius: 0px 0px 10px 10px !important;
}

.login-box .login-btn {
    background-color: #658a69 !important;
    color: white;
}
.margin{
	margin-top: 20px !important;
}
.bottom-box{
	text-align: center;
	padding-top: 25px;
}
.bottom-box > a{
	background-color: #658a69;
	color : #ffffff !important;
}
