@charset "UTF-8";

#layoutnav .titlebox{ 
	border-top: 1px solid #c0c0c0; 
	background-color: #e2e2e2;
}
#layoutnav .content_subtitle{ 
	border-top: 1px solid #c0c0c0; 
	border-bottom: 1px solid #c0c0c0; 
	margin: 0px 1px;
}
#layoutnav .span_line{ 
	align-items: center; color: #696969; font-size: 15px;
} 
#layoutnav .likebox, .viewbox, .datebox{
	background-color: #eeeeee;
}
#layoutnav .view_content{
	overflow-y: scroll; height: 700px;
}

/* kakao api css */
.map_wrap {position:relative;width:100%;height:350px;}
.title {font-weight:bold;display:block;}
.hAddr {position:absolute;left:15%;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
#centerAddr {display:block;margin-top:2px;font-weight: normal;}
.bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.moveBtn {
	position:absolute; right:15%; bottom:10px;
	border-radius: 5px; background:#658a69; z-index:3;
	border: none; color: white;
}