@charset "UTF-8";

#layoutnav .titlebox{ 
	border-top: 1px solid #c0c0c0; 
	background-color: #e2e2e2;
}
#layoutnav .content_subtitle{ 
	border-top: 1px solid #c0c0c0; 
	border-bottom: 1px solid #c0c0c0; 
	margin: 0px 1px;
}
#layoutnav .span_line{ 
	align-items: center; color: #696969; font-size: 15px;
} 
#layoutnav .likebox, .viewbox, .datebox{
	background-color: #eeeeee;
}